---
import Layout from '~/layouts/PageLayout.astro';
// import Footer from '~/components/widgets/Footer.astro';
// 使用 Astro 的 fetch 方法（服务端）
const gameListRes = await fetch('https://apifoxmock.com/m1/5804244-5489264-default/gameList');
const gameListResult = await gameListRes.json();
const gameList = gameListResult.data || [];

const mirrorListRes = await fetch('https://apifoxmock.com/m1/5804244-5489264-default/mirror');
const mirrorListResult = await mirrorListRes.json();
const mirrorList = mirrorListResult.data || [];

const peopleListRes = await fetch('https://apifoxmock.com/m1/5804244-5489264-default/peopleNum');
const peopleListResult = await peopleListRes.json();
const peopleList = peopleListResult.data || [];

const morePeopleListRes = await fetch('https://apifoxmock.com/m1/5804244-5489264-default/morePeople');
const morePeopleListResult = await morePeopleListRes.json();
const morePeopleList = morePeopleListResult.data || [];
---

<Layout showHeader={false} showFooter={true}>
  <div
    class="bg-gray-100"
    style="padding-top: 56.25%;background: linear-gradient(0deg, rgba(33, 29, 27, 0) 47.47%, rgba(255, 255, 255, 1) 100%, rgba(105, 101, 100, 0.5) 100%);"
  >
    <!-- 背景图层，应用背景模糊 -->
    <div
      class="absolute inset-0 bg-[url('/assets/images/默认选购.png')] bg-cover bg-no-repeat bg-center z-[-1]"
      style="filter: blur(0.52vw);"
    >
    </div>

    <!-- 吸附在顶部的导航栏  h-[51.5vw] -->
    <div
      id="scrollableDiv"
      class="fixed flex justify-between items-center top-0 left-0 w-full h-[4.17vw] pr-[8.3333vw] pl-[7.1875vw] bg-white bg-opacity-30 z-50"
      style="background:rgba(0, 0, 0, 0.7)"
    >
      <div><img src="/assets/images/FFGameCloud-logo.png" class="w-[8.75vw] h-[2.08vw]" alt="" /></div>
      <div
        class="control-btn w-[6.25vw] h-[2.34vw] cursor-pointer flex justify-between items-center px-[0.8333vw] py-[0.625vw] group relative"
      >
        <div style="font-size: 0.73vw;color:#ffffff">控制台</div>
        <div><img src="/assets/images/控制台圆形.png" alt="" class="w-[1.4583vw] h-[1.4583vw]" /></div>

        <!-- 菜单 -->
        <div
          class="absolute top-full left-1/2 transform -translate-x-1/2 mt-[1.15vw] hidden group-hover:block group-focus-within:block focus-within:block shadow-lg rounded-[0.26vw]"
        >
          <ul
            class="text-sm w-[12.0417vw] rounded-[0.2604vw] border-solid border-[rgba(0,_0,_0,_0.1)] backdrop-blur-[0.1vw] bg-[rgba(0,_0,_0,_0.4)]"
          >
            <li class="h-[2.5vw] flex items-center">
              <img
                src="/assets/images/usericon.svg"
                class="w-[1.3542vw] h-[1.3542vw] ml-[0.625vw] mr-[0.5729vw]"
                alt=""
              />
              <div class="flex flex-col justify-center">
                <span style="font-size: 0.625vw; line-height: 1;color:#ffffff">桃子</span>
                <span style="font-size: 0.5208vw; color: rgba(148, 148, 148, 1); line-height: 1;">54564654@qq.com</span>
              </div>
            </li>
            <li class="h-[2.5vw] flex items-center" style="background-color:rgba(255, 255, 255, 0.5)">
              <img
                src="/assets/images/cashicon.svg"
                class="w-[0.78125vw] h-[0.78125vw] ml-[0.83vw] mr-[0.3646vw]"
                alt=""
              />
              <div class="flex flex-col justify-center">
                <div class="flex items-center" style="font-size: 0.625vw; line-height: 1;color:rgba(148, 148, 148, 1)">
                  <span>账户余额</span>
                  <div class="flex items-center justify-between ml-[1.875vw]">
                    <span style="font-size: 0.7292vw;color:rgba(255, 255, 255, 1)">￥0.00</span>
                    <img src="/assets/images/righticon.svg" class="w-[0.78125vw] h-[0.78125vw] ml-[2.1875vw]" alt="" />
                  </div>
                </div>
              </div>
            </li>
            <li class="h-[2.5vw] flex items-center">
              <img
                src="/assets/images/settingicon.svg"
                class="w-[0.78125vw] h-[0.78125vw] ml-[0.83vw] mr-[0.3646vw]"
                alt=""
              />
              <div class="flex items-center">
                <div style="font-size: 0.625vw; line-height: 1;color:rgba(148, 148, 148, 1)">账户设置</div>
                <img src="/assets/images/righticon.svg" class="w-[0.78125vw] h-[0.78125vw] ml-[6.2vw]" alt="" />
              </div>
            </li>
            <li
              class="h-[2.5vw] flex items-center justify-center text-center"
              style="border-top: 1px solid rgba(148, 148, 148, 1);font-size: 0.625vw;color:rgba(186, 179, 179, 1)"
            >
              <span style="color: 0.72vw; font-size: rgba(186, 179, 179, 1);">退出登录</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="absolute z-10 top-[4.17vw] max-h-fit w-full">
      <div
        class="mt-[3.98vw] ml-[8.39vw] w-[15.1vw] h-[1.8vw] rounded-full flex items-center pl-[0.52vw] cursor-pointer transition-all duration-[1000ms] ease-[cubic-bezier(0.4, 0, 1, 1)] hover:ml-[10.39vw]"
        style="font-size: 0.52vw; background-color: rgba(5, 0, 0, 0.3);"
      >
        <span style="color: rgba(242, 106, 22, 1); opacity: 1;">免费</span>
        <span style="color: #FFFFFF; opacity: 1;">为您的所有文件和数据从您的旧主机迁移到我们这里！</span>
      </div>

      <div
        class="mt-[0.46875vw] ml-[8.39vw] mb-[2.11vw] w-[7.08vw] h-[1.8vw] rounded-full flex items-center pl-[0.52vw] cursor-pointer transition-all duration-[1000ms] ease-[cubic-bezier(0.4, 0, 1, 1)] hover:ml-[10.39vw]"
        style="font-size: 0.52vw; background-color: rgba(5, 0, 0, 0.3);"
      >
        <span style="color: #FFFFFF; opacity: 1;">可享专业在线客服</span>
        <span style="color: rgba(242, 106, 22, 1); opacity: 1;">协助 +</span>
      </div>
      <!-- 游戏 -->
      <div class="w-[87.04vw] h-[30.89vw] ml-[4.43vw]">
        <div class="w-[87.04vw] flex justify-between bg-[#b1e49300]">
          <div class="card-stack-container" style="position: relative; width: 62.5vw; height: 26.3vw;">
            {
              gameList.map((game, index) => (
                //堆叠
                <div
                  class="card-stack"
                  id="cardStack"
                  data-id={game.id}
                  style={`position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                       transform: translateY(${index * 5}px); 
                       transition: all 0.3s ease; z-index: ${gameList.length - index}; transform: scale(${1 - index * 0.001})`}
                >
                  <div class="w-[62.5vw] h-[26.3vw] pt-[3.13vw] flex mr-[2.31vw]" key={game.id} style="">
                    <div class="w-[17.29vw] h-[24.65vw] relative" style="border-radius: 0.26vw 0px 0px 0.26vw;">
                      <img src={game.sImage} alt="" srcset="" class="w-[17.29vw] h-[24.65vw] absolute z-0" />
                      <div class="w-[17.29vw] h-[24.65vw] absolute z-10 bg-[#0D010110] backdrop-blur-[1vw]">
                        <div
                          class="h-[1.71875vw] w-[2.03125vw] ml-[1.8229vw] p-[0.2604vw] bg-[#F26A16]"
                          style="border-radius: 0vw 0vw 0.2604vw 0.2604vw;font-size: 0.7292vw;color:#FFFFFF;"
                        >
                          推荐
                        </div>
                        <div
                          class="ml-[1.8229vw] mt-[1.40625vw]"
                          style="font-size: 1.5625vw;font-weight: 400;color:#FFFFFF;"
                        >
                          {game.name}
                        </div>
                        <div
                          class="mt-[0.2083vw] ml-[12.08vw] text-white w-[3.6458vw] h-[1.5625vw] flex justify-center items-center cursor-pointer border-[0.0521vw] border-[#FFFFFF] rounded-[0.2604vw] transition-all hover:border-[#f56a1f] hover:text-[#f56a1f]"
                          style="font-size: 0.625vw;"
                        >
                          下载游戏
                        </div>

                        <div
                          class="w-[13.94vw] h-[4.89vw] ml-[1.8229vw] mt-[1.5625vw]"
                          style="font-size: 0.625vw;line-height:0.90625vw;color:#FFFFFF;"
                        >
                          {game.descTxt}
                        </div>
                        <div
                          class="mt-[1.5vw] ml-[1.8229vw]"
                          style="font-size: 0.7292vw; color:#f56a1f;line-height: 20.27px;"
                        >
                          开服价：{game.price}元/月起
                        </div>
                        <div class="mt-[1.9792vw] ml-[1.8229vw]" style="font-size: 0.625vw;color:#FFFFFF;">
                          操作方式
                        </div>
                        <div class="flex items-center mt-[0.52vw]">
                          <img
                            src="/assets/images/pc-icon.svg"
                            alt=""
                            class="ml-[3.28125vw] w-[1.46vw] h-[1.67vw] cursor-pointer"
                          />
                          <img
                            src="/assets/images/手机.svg"
                            alt=""
                            class="ml-[1.5vw] w-[1.41vw] h-[1.56vw] cursor-pointer"
                          />
                          <img
                            src="/assets/images/switch-filled.svg"
                            alt=""
                            class="ml-[1.5vw] w-[1.6667vw] h-[1.71875vw] cursor-pointer"
                          />
                          <img
                            src="/assets/images/steam2.svg"
                            alt=""
                            class="ml-[1.93vw] w-[1.3vw] h-[1.3vw] cursor-pointer"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="w-[45.21vw] h-[24.65vw]" style="border-radius: 0px 0.26vw 0.26vw 0px;">
                      <img src={game.bImage} alt="" srcset="" class="w-[45.21vw] h-[24.65vw]" />
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
          <div class="w-[22.2vw] h-[30.89vw] overflow-y-scroll overflow-hidden custom-scrollbar-hidden bg-[#ffffff00]">
            <!-- 开服游戏列表 -->
            <div id="section1">
              <div class="h-[3.17vw]">
                <span style="color:rgba(255, 255, 255, 1); font-size: 0.88vw;">游戏：</span>
                <span style="color: rgba(148, 148, 148, 100); font-size: 0.88vw;">你想开服的游戏是？</span>
              </div>

              {
                gameList.map((game, index) => (
                  <div
                    key={index}
                    key={game.id}
                    data-id={game.id}
                    data-name={game.name}
                    data-desc={game.descTxt}
                    data-price={game.price}
                    data-bImage={game.bImage}
                    data-sImage={game.sImage}
                    data-target="#section2"
                    class="game-item w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center cursor-pointer mb-[1.354vw]"
                    style="background: linear-gradient(270deg, #00000030 36.62%, #403D3D30 100%); border: 0.05208vw solid #B0A29E; border-radius: 0vw;"
                  >
                    <div>
                      <div style="font-size: 0.89vw; color:#FFFFFF" class="mb-[0.678vw]">
                        {game.name}
                      </div>
                      <div style="font-size: 0.57vw;" class="flex">
                        {game.tags.map((tag, tagIndex) => (
                          <div
                            key={tagIndex}
                            class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#F26A16] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                          >
                            {tag}
                          </div>
                        ))}
                      </div>
                    </div>
                    <img src={game.gameLogo} class="w-[3vw] h-[3vw]" alt={`${game.name} logo`} />
                  </div>
                ))
              }
              <div
                class="w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center cursor-pointer mt-[1.354vw]"
                style="border: 0.05208vw solid #B0A29E00;border-radius: 0vw;background: rgba(82, 66, 66, 1);"
              >
                <div>
                  <div style="font-size: 0.89vw;color:#FFFFFF;margin-bottom: 0.31vw;">需要协助选择游戏?</div>
                  <div style="font-size: 0.57vw;color:#FFFFFF;">了解不同服务器型号和性能的区别。</div>
                </div>
                <img src="/assets/images/gamelogo.png" class="w-[3vw] h-[3vw]" alt="" srcset="" />
              </div>
            </div>
            <!-- 协助区域 -->
            <!-- <div>
              <div
                class="w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center cursor-pointer mt-[1.354vw]"
                style="border: 0.05208vw solid #B0A29E00;border-radius: 0.26vw;background: rgba(82, 66, 66, 1);"
              >
                <div>
                  <div style="font-size: 0.89vw;color:#FFFFFF;margin-bottom: 0.31vw;">需要协助选择游戏?</div>
                  <div style="font-size: 0.57vw;color:#FFFFFF;">了解不同服务器型号和性能的区别。</div>
                </div>
                <img src="/assets/images/gamelogo.png" class="w-[3vw] h-[3vw]" alt="" srcset="" />
              </div>
            </div> -->
            <!-- 镜像区域 -->
            <div class="mt-[2.239vw]" id="section2">
              <div class="h-[3.17vw]">
                <span style="color:rgba(255, 255, 255, 1); font-size: 0.88vw;">镜像：</span>
                <span style="color: rgba(148, 148, 148, 100); font-size: 0.88vw;">你想镜像的类型是？</span>
              </div>
              {
                mirrorList?.map((mirror, mirrorIndex) => (
                  <div
                    data-id={mirror.id}
                    data-target="#section3"
                    class="mirror-item w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center cursor-pointer mb-[1.354vw]"
                    style="background: linear-gradient(270deg, #000000FF 36.62%, #403D3DFF 100%); border: 0.05208vw solid #B0A29E; border-radius: 0vw;"
                  >
                    <div style="">
                      <div class="mb-[0.678vw]">
                        <span style="font-size: 0.89vw; color:#FFFFFF">
                          {mirror.name}
                          {mirror.server}
                        </span>
                      </div>
                      <div style="font-size: 0.57vw;" class="flex">
                        {mirror.tags.map((tag, tagIndex) => (
                          <div
                            key={tagIndex}
                            className={`w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full mr-[0.5208vw] flex items-center justify-center
      ${tagIndex === 0 ? 'bg-[#2E2522] text-[#BA7245]' : 'bg-[#302B29] text-[#706C6B]'}`}
                          >
                            {tag}
                          </div>
                        ))}
                      </div>
                    </div>
                    <div class=" text-[#FF8D1A] " style="font-size: 0.73vw;">
                      {mirror.price}R/月起
                    </div>
                  </div>
                ))
              }
            </div>
            <!-- 人数套餐区域 -->
            <div class="mt-[2.239vw]" id="section3">
              <div class="h-[3.17vw]">
                <span style="color:rgba(255, 255, 255, 1); font-size: 0.88vw;">人数：</span>
                <span style="color: rgba(148, 148, 148, 100); font-size: 0.88vw;">你想游玩的人数？</span>
              </div>
              {
                peopleList?.map((people) => (
                  <div
                    data-id={people.id}
                    class="people-item w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center cursor-pointer mb-[1.354vw]"
                    style="background: linear-gradient(270deg, #000000FF 36.62%, #403D3DFF 100%);; border: 0.05208vw solid #B0A29E; border-radius: 0vw;"
                  >
                    <div style="">
                      <div class="mb-[0.678vw]">
                        <span style="font-size: 0.89vw; color:#FFFFFF">{people.num}人组队</span>
                      </div>
                    </div>
                    <div class=" text-[#FF8D1A] " style="font-size: 0.73vw;">
                      {people.price}R/月起
                    </div>
                  </div>
                ))
              }
              <div
                class="more-people-item w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center cursor-pointer mb-[1.354vw]"
                style="background: linear-gradient(270deg, #000000 36.62%, #403D3D 100%); border: 0.05208vw solid #B0A29E; border-radius: 0.26vw;"
              >
                <div style="">
                  <div class="mb-[0.678vw]">
                    <span style="font-size: 0.89vw; color:#FFFFFF"> 更多套餐 </span>
                  </div>
                </div>
                <div class="text-[#FF8D1A]" style="font-size: 0.73vw;">
                  <div class="select-container">
                    <div class="custom-select-wrapper">
                      <div class="custom-select" id="teamSizeSelect">
                        <div
                          class="selected-option flex justify-between items-center"
                          style="border-bottom: 0.052vw solid #363332;"
                        >
                          <div class="text-[#C9C9C9]" style="font-size:0.729vw" id="moreSelete">组队人数</div>
                          <img src="/assets/images/下箭头.svg" alt="" class="w-[0.625vw] h-[0.625vw]" />
                        </div>
                        <ul class="options-list">
                          {
                            morePeopleList?.map((more) => (
                              <li
                                class="option-item"
                                key={more.num}
                                data-num={more.num}
                                data-price={more.price}
                                data-id={more.id}
                              >
                                <span class="text-[#ffffff]">{more.num}人</span>
                                <span class="text-[#FF8D1A]">{more.price}元/月</span>
                              </li>
                            ))
                          }
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-full h-[12.08vw] flex justify-center items-center" id="section4">
      <div class="w-[78.07vw] h-[12.08vw]">
        <div class="h-[2.862vw]" style="font-size: 0.9375vw;">
          <span class="text-[#FFFFFF]">NAT或升级独立IP模式：</span><span class="text-[#949494]">你想选择的是？</span>
        </div>
        <div class="flex justify-between">
          <!-- 是否升级独立IP -->
          <div class="w-[47.44vw] h-[9.218vw] flex justify-between">
            <!-- 升级独立IP -->
            <div
              id="upIpAddr"
              class="w-[22.39vw] h-[9.218vw] bg-[#211d1b00] px-[0.83vw] cursor-pointer"
              style="border-radius: 0vw;border:0.052vw solid #474141FF"
            >
              <div
                class="h-[2.68vw] text-[#949494] flex items-center justify-center mb-[0.859vw]"
                style="border-bottom: 0.052vw solid #474141;font-size: 0.78vw;"
              >
                升级独立IP
              </div>
              <div class="h-[6.538vw] text-[#949494]" style="font-size: 0.52vw;">
                <p style="line-height: 0.78vw;margin-bottom: 0.39vw;">
                  1.
                  升级独立IP地址即为服务器开通单独IP，单独IP具有一定的防御攻击能力，以及可以直接用IP进行公网访问，适用于网站等各种业务
                </p>
                <p style="line-height: 0.78vw;margin-bottom: 0.39vw;">2. 购买后可随时按需要加购或删除不同类型的IP</p>
                <p style="line-height: 0.78vw;margin-bottom: 0.39vw;">
                  3.
                  如不升级独立IP（NAT模式）则默认为共享IP，该模式下如需访问公网，可使用NAT功能对外映射端口，适用于内网穿透，游戏开服，研究学习等业务，后续有需要可增购IP地址。
                </p>
              </div>
            </div>
            <!-- 不升级独立IP -->
            <div
              id="noUpIpAddr"
              class="w-[22.39vw] h-[9.218vw] flex items-center justify-center bg-[#211d1b00] cursor-pointer text-[#FFFFFF]"
              style="border-radius: 0vw;font-size: 0.78vw;border:0.052vw solid #474141FF"
            >
              不升级独立IP
            </div>
          </div>
          <!-- 如何升级IP -->
          <div class="w-[25.99vw] h-[9.218vw] cursor-pointer flex" style="border-radius: 0.169vw;background: #524242;">
            <div class="w-[10.76vw] h-[9.218vw]" style="background-color: #FFFFFF30;border-radius: 0.169vw;"></div>
            <div class="w-[15.23vw] h-[9.218vw] pt-[0.885vw] flex justify-around" style="background-color: #FFFFFF00;">
              <div class="w-[9.16vw] h-[2.44vw]">
                <div style="color: #FFFFFF;font-size: 0.78vw;margin-bottom: 0.468vw;">如何进行升级ip?</div>
                <div style="color: #ADA5A3;font-size: 0.57vw;">了解不同服务器型号和性能的区别。</div>
              </div>
              <div>
                <img src="/assets/images/加号.svg" class="w-[0.729vw] h-[0.729vw] rotate-add-icon" alt="" srcset="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section5" class="w-[77.4vw] mx-auto flex pt-[9.33vw]">
    <div
      class="mb-[49.11vw] w-[77.4vw] h-[32.03vw] bg-[#211d1b] mx-auto flex"
      style="border:1px solid #000000;border-radius: 0.52vw;"
    >
      <div class="w-[33.125vw] h-[31.926vw]" style="border-radius:  0.52vw 0 0  0.52vw;">
        <div
          class="w-[33.125vw] h-[10.836vw] text-[#FFFFFF] flex justify-center items-center"
          style="font-size: 1.82vw;"
        >
          <div class="w-[18.22vw] text-center">一键开服，畅快开黑， 自动部署，开箱即用。</div>
        </div>
        <div class="h-[21.09vw] w-[33.125vw] relative" style="border-radius:0  0.52vw 0  0.52vw ;">
          <img
            src="/assets/images/默认选购.png"
            class="h-[21.09vw] w-[33.125vw]"
            style="border-radius:0  0.52vw 0  0.52vw ;"
            id="currPickBigImg"
          />
          <div
            class="absolute bg-[#00000060] text-[#FFFFFF] h-[2.86vw] right-0 bottom-[1.15vw] px-[1.718vw] py-[0.885vw] flex justify-between items-center"
            style="min-width: 14.53vw; backdrop-filter: blur(0.26vw);border-radius: 0.26vw 0px 0px 0.26vw;font-size: 0.729vw;"
          >
            <span id="currPickGame" class="mr-[2.29vw]">未选择游戏</span>
            <span id="currPickMirror" class="mr-[2.29vw]">未选择镜像</span>
            <span id="currPickPeople">未选择人数</span>
          </div>
        </div>
      </div>
      <div class="w-[23.02vw] h-[31.926vw] pt-[0.83vw] pl-[2.239vw] pr-[2.913vw] flex flex-col items-center">
        <div class="relative">
          <img
            src="https://img.js.design/assets/img/677931ca19abf04c14afb242.jpg#42e81b8418873d43f430893f2d85b759"
            class="w-[17.86vw] h-[9.11vw] rounded-[0.289vw]"
            alt=""
            id="currPickSmallImg"
          />
          <div
            class="absolute inset-0 flex items-center justify-center flex-col text-[#CFCCCC] font-semibold"
            style="font-size: 0.729vw;"
          >
            <span style="font-size:0.83vw ;color:#ffffff;margin-bottom:2vw">购买说明</span><span>购买后3分钟内可用</span
            ><span>需要协助或有疑问可联系官方客服</span>
          </div>
          <div class="w-[17.86vw] h-[9.11vw] rounded-[0.289vw] absolute bg-[#8b8b8b80] top-0"></div>
        </div>
        <div
          class="h-[13.125vw] w-[13.80vw] mt-[3.90vw] flex items-center justify-center flex-col"
          style="border-bottom: 0.052vw solid #474141;border-top: 0.052vw solid #474141;"
        >
          <div class="w-[13.75vw] h-[4.01vw] mb-[1.822vw]">
            <div style="font-size: 0.833vw; color:#BAB3B3">周期</div>
            <div
              class="w-[13.75vw] h-[2.395vw] bg-[#3B3130] px-[1.362vw] py-[0.572vw] flex items-center justify-between"
              style="border: 0.052vw solid #61504E;font-size: 0.833vw;color:#ffffff"
            >
              <div>1月</div>
              <img src="/assets/images/三角形箭头.svg" alt="" srcset="" class="w-[0.64vw] h-[0.52vw]" />
            </div>
          </div>
          <div class="w-[13.75vw] h-[4.01vw]">
            <div style="font-size: 0.833vw; color:#BAB3B3">优惠码</div>
            <div
              class="w-[13.75vw] h-[2.395vw] flex justify-between items-center bg-[#3B3130]"
              style="border: 0.052vw solid #61504E;"
            >
              <div style="font-size: 0.833vw; color:#fff;" class="pl-[1.362vw]">验证码内容</div>
              <div
                class="w-[3.90vw] h-[1.04vw] flex justify-center items-center"
                style="border-left: 0.052vw solid #61504E;font-size: 0.833vw; color:#fff;"
              >
                验证
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[21.225vw] h-[31.926vw] flex flex-col items-center">
        <div class="h-[8.80vw] w-[17.5vw] pt-[2.256vw]" style="border-bottom:0.052vw solid #474141">
          <div class="text-[#BAB3B3] mb-[0.989vw]" style="font-size: 0.83vw;">价格</div>
          <div class="text-[#F26A16] w-[17.5vw] flex justify-center items-baseline" style="font-weight: 700;">
            <span style="font-size: 1.25vw;margin-right:0.25vw">¥</span><span style="font-size: 2.39vw;">98</span>
          </div>
        </div>
        <div class="mt-[3.80vw] w-[19.0vw]">
          <div class="w-[18.33vw] h-[3.07vw] p-[0.52vw] flex items-center justify-between">
            <div class="flex items-center">
              <img src="/assets/images/ali_pay.svg" alt="" srcset="" class="w-[1.979vw] h-[1.979vw]" />
              <div class="ml-[1.093vw]">支付宝</div>
            </div>
            <img src="/assets/images/select_pay_type.svg" alt="" srcset="" class="w-[1.25vw] h-[1.25vw]" />
          </div>
          <div class="w-[18.33vw] h-[3.07vw] p-[0.52vw] flex items-center justify-between">
            <div class="flex items-center">
              <img src="/assets/images/wx_pay.svg" alt="" srcset="" class="w-[1.979vw] h-[1.979vw]" />
              <div class="ml-[1.093vw]">微信支付</div>
            </div>
            <img src="/assets/images/no_select_pay_type.svg" alt="" srcset="" class="w-[1.25vw] h-[1.25vw]" />
          </div>
          <div class="w-[18.33vw] h-[3.07vw] p-[0.52vw] flex items-center justify-between">
            <div class="flex items-center">
              <img src="/assets/images/balance_pay.svg" alt="" srcset="" class="w-[1.979vw] h-[1.979vw]" />
              <div class="ml-[1.093vw]">余额</div>
            </div>
            <img src="/assets/images/no_select_pay_type.svg" alt="" srcset="" class="w-[1.25vw] h-[1.25vw]" />
          </div>
        </div>
        <div
          class="w-[17.39vw] mt-[4vw] h-[4.479vw] flex justify-center items-center text-white cursor-pointer
        transition-colors duration-1000 ease-in-out
        rounded-[0.461vw]
        bg-gradient-to-r from-[#1C80EB] to-[#40C6FF] hover:bg-gradient-to-r hover:from-[#008df7] hover:to-[#40C6FF]"
        >
          立即付款
        </div>
      </div>
    </div>
  </div>
</Layout>
<script define:vars={{ gameList, mirrorList, peopleList, morePeopleList }}>
  console.log('服务端>游戏列表数据:', gameList);
  console.log('服务端>镜像列表数据:', mirrorList);
  console.log('服务端>人数列表数据:', peopleList);
  console.log('服务端>(更多)人数列表数据:', morePeopleList);
  // 获取目标元素
  const scrollableDiv = document.getElementById('scrollableDiv');
  const currPickGame = document.getElementById('currPickGame'); //显示选中游戏名称元素
  const currPickBigImg = document.getElementById('currPickBigImg'); //显示选中游戏大图元素
  const currPickSmallImg = document.getElementById('currPickSmallImg'); //显示选中游戏小图元素
  const currPickMirror = document.getElementById('currPickMirror'); //显示选中镜像元素
  const currPickPeople = document.getElementById('currPickPeople'); //显示选中人数元素

  // 监听滚动事件
  window.addEventListener('scroll', () => {
    if (window.scrollY > 100) {
      // 超过100px时隐藏滚动条
      scrollableDiv.classList.add('hide-scrollbar');
      scrollableDiv.classList.remove('show-scrollbar');
    } else {
      // 小于100px时显示滚动条
      scrollableDiv.classList.add('show-scrollbar');
      scrollableDiv.classList.remove('hide-scrollbar');
    }
  });
  //游戏项选中部分
  let pickGameItem = {}; //选中的游戏列表项
  const gameItems = document.querySelectorAll('.game-item'); //获取游戏列表
  const cardContainer = document.querySelector('.card-stack-container');
  gameItems.forEach((item, itemIndex) => {
    item.addEventListener('click', (e) => {
      const gameId = e.currentTarget.dataset.id;
      const targetCard = document.querySelector(`[data-id="${gameId}"]`);
      console.log(gameId, '已选');
      pickGameItem = gameList.filter((i) => i.id == gameId)[0];
      console.log('已选游戏', pickGameItem);
      currPickGame.textContent = pickGameItem.name;
      currPickBigImg.src = pickGameItem.bImage;
      currPickSmallImg.src = pickGameItem.sImage;

      // 移动卡片到顶层
      if (targetCard) {
        // 更新 z-index 和位置
        const currentZIndex = parseInt(window.getComputedStyle(targetCard).zIndex) || 0;
        targetCard.style.zIndex = gameList.length + currentZIndex;
        targetCard.style.transform = 'translateY(0) scale(1)'; // 重置目标卡片的大小和位置

        // 更新其他卡片位置和大小
        cardContainer.querySelectorAll('.card-stack').forEach((card, index) => {
          if (card !== targetCard) {
            const scale = 1 - (index + 1) * 0.05; // 每层缩小 0.05
            const offsetY = (index + 1) * 20; // 每层向下偏移 20px
            card.style.transform = `translateY(${offsetY}px) scale(${scale})`;
            card.style.zIndex = gameList.length - index;
          }
        });
      }

      gameItems.forEach((i) => {
        i.classList.remove('selected');
        i.style.borderColor = '#B0A29E';
        i.style.borderImage = 'none'; // 移除之前的渐变边框
      });

      e.currentTarget.classList.add('selected');
      e.currentTarget.style.borderColor = 'transparent'; // 设置透明的边框颜色
      e.currentTarget.style.borderImage = 'linear-gradient(to right, #40C6FF 0%, #1C80EB 100%) 1'; // 设置渐变边框

      const targetSection = document.querySelector(item.getAttribute('data-target'));

      if (targetSection) {
        // 先滚动到镜像区域
        targetSection.scrollIntoView({ behavior: 'smooth', block: 'start' });

        const section1Element = document.getElementById('section1');
        console.log(section1Element.offsetHeight);
        // 添加偏移量 (向上滚动一定的距离)
        setTimeout(() => {
          window.scrollBy(0, -section1Element.offsetHeight); // 向上偏移 50px
        }, 0);
      }
    });

    // 循环完毕后，默认触发第一个卡片的点击事件
    if (itemIndex === gameItems.length - 1) {
      gameItems[0].click(); // 触发第一个卡片的点击事件
    }
  });

  // 镜像项选中部分
  let pickMirrorItem = {}; // 选中的镜像列表项
  const mirrorItems = document.querySelectorAll('.mirror-item'); // 获取镜像列表
  mirrorItems.forEach((item) => {
    item.addEventListener('click', (e) => {
      let currMirrorId = e.currentTarget.dataset.id; // 获取当前点击项的 ID
      pickMirrorItem = mirrorList.filter((i) => i.id == currMirrorId)[0]; // 过滤出选中的镜像项
      console.log('已选镜像', pickMirrorItem); // 打印已选镜像
      currPickMirror.textContent = pickMirrorItem.name;
      // 处理选中状态
      mirrorItems.forEach((i) => {
        i.classList.remove('selected');
        i.style.borderColor = '#B0A29E';
        i.style.borderImage = 'none'; // 移除之前的渐变边框
      });

      e.currentTarget.classList.add('selected');
      e.currentTarget.style.borderColor = 'transparent'; // 设置透明的边框颜色
      e.currentTarget.style.borderImage = 'linear-gradient(to right, #40C6FF 0%, #1C80EB 100%) 1'; // 设置渐变边框

      const targetSection = document.querySelector(item.getAttribute('data-target'));

      if (targetSection) {
        // 先滚动到人数区域
        targetSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
        const section2Element = document.getElementById('section2');
        const section1Element = document.getElementById('section1');
        console.log(section2Element.offsetHeight);
        // 添加偏移量 (向上滚动一定的距离)
        setTimeout(() => {
          window.scrollBy(0, -(section2Element.offsetHeight + section1Element.offsetHeight)); // 向上偏移 50px
        }, 0);
      }
    });
  });

  // 人数项选中部分
  let pickPeopleItem = {}; // 选中的人数列表项
  const peopleItems = document.querySelectorAll('.people-item'); // 获取人数列表
  peopleItems.forEach((item) => {
    item.addEventListener('click', (e) => {
      pickPeopleItem = peopleList.filter((i) => i.id == e.currentTarget.dataset.id)[0]; // 过滤出选中的人数项
      console.log('已选人数', pickPeopleItem); // 打印已选人数
      currPickPeople.textContent = pickPeopleItem.num + '人';
      // 处理选中状态
      peopleItems.forEach((i) => {
        i.classList.remove('selected');
        i.style.borderColor = '#B0A29E';
        i.style.borderImage = 'none'; // 移除之前的渐变边框
      });
      e.currentTarget.classList.add('selected');
      e.currentTarget.style.borderColor = 'transparent'; // 设置透明的边框颜色
      e.currentTarget.style.borderImage = 'linear-gradient(to right, #40C6FF 0%, #1C80EB 100%) 1'; // 设置渐变边框
      morePeopleItem.style.borderImage = 'linear-gradient(to right, #40C6FF00 0%, #1C80EB00 100%) 1'; // 设置渐变边框
      morePeopleItem.style.borderColor = '#B0A29E'; //
      const targetSection = document.querySelector('#section4');
      if (targetSection) {
        targetSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
      }
    });
  });

  //选择更多套餐
  const selectElement = document.getElementById('teamSizeSelect');
  const morePeopleItem = document.querySelector('.more-people-item');
  // // 初始化下拉框选项
  // morePeopleList.forEach((item) => {
  //   const option = document.createElement('option');
  //   option.value = item.num;
  //   option.textContent = `${item.num}人  ${item.price}元/月`;
  //   selectElement.appendChild(option);
  // });

  // 更新价格显示
  function updatePriceDisplay(selectedNum) {
    const selectedItem = morePeopleList.find((item) => item.num === Number(selectedNum));
    pickPeopleItem = selectedItem;
    morePeopleItem.classList.add('selected');
    morePeopleItem.style.borderColor = 'transparent'; // 设置透明的边框颜色
    morePeopleItem.style.borderImage = 'linear-gradient(to right, #40C6FF 0%, #1C80EB 100%) 1'; // 设置渐变边框
    peopleItems.forEach((i) => {
      i.classList.remove('selected');
      i.style.borderColor = '#B0A29E';
      i.style.borderImage = 'none'; // 移除之前的渐变边框
    });
    console.log(pickPeopleItem, '已选更多套餐');
    currPickPeople.textContent = pickPeopleItem.num + '人';
  }

  // 添加选中事件监听
  selectElement.addEventListener('change', function (e) {
    // 阻止事件冒泡到父元素
    e.stopPropagation();
    const selectedNum = this.value;
    updatePriceDisplay(selectedNum);
  });

  // 独立IP逻辑
  const upIpAddr = document.getElementById('upIpAddr'); //升级独立IP元素
  const noUpIpAddr = document.getElementById('noUpIpAddr'); //不升级独立IP元素
  let isUpIp = false;
  // 点击升级独立IP
  upIpAddr.addEventListener('click', function (e) {
    isUpIp = true;
    console.log('升级独立IP', isUpIp);
    upIpAddr.classList.add('selected');
    upIpAddr.style.borderStyle = 'solid'; // 设置为 solid
    upIpAddr.style.borderWidth = '0.104vw'; // 确保边框宽度大于 0
    upIpAddr.style.borderColor = 'transparent';
    upIpAddr.style.borderImage = 'linear-gradient(to right, #40C6FF 0%, #1C80EB 100%) 1';

    // 清除不升级独立IP的样式
    noUpIpAddr.classList.remove('selected');
    noUpIpAddr.style.borderImage = ''; // 清除渐变边框
    noUpIpAddr.style.border = '0.052vw solid #474141FF';
    const targetSection = document.querySelector('#section5');
    if (targetSection) {
      targetSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }
  });

  noUpIpAddr.addEventListener('click', function (e) {
    isUpIp = false;
    console.log('不升级独立IP', isUpIp);
    noUpIpAddr.classList.add('selected');
    noUpIpAddr.style.borderStyle = 'solid'; // 设置为 solid
    noUpIpAddr.style.borderWidth = '0.104vw'; // 确保边框宽度大于 0
    noUpIpAddr.style.borderColor = 'transparent';
    noUpIpAddr.style.borderImage = 'linear-gradient(to right, #40C6FF 0%, #1C80EB 100%) 1';
    // 清除升级独立IP的样式
    upIpAddr.classList.remove('selected');
    upIpAddr.style.borderImage = ''; // 清除渐变边框
    upIpAddr.style.border = '0.052vw solid #474141FF';
    const targetSection = document.querySelector('#section5');
    if (targetSection) {
      targetSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }
  });
  // document.querySelector('.custom-select').addEventListener('click', function () {
  //   this.classList.toggle('open'); // 切换显示/隐藏选项
  //   document.querySelector('.options-list').style.display = 'block'
  // });

  // // 为每个选项添加点击事件，更新显示的选中项
  // document.querySelectorAll('.option-item').forEach(function (item) {
  //   item.addEventListener('click', function () {
  //     document.querySelector('#moreSelete').textContent = this.textContent;
  //     document.querySelector('.options-list').style.display = 'none' // 选择后关闭下拉框
  //   });
  // });
  // 获取下拉框和选项列表
  const customSelect = document.querySelector('.custom-select');
  const optionsList = document.querySelector('.options-list');
  const selectedOption = document.querySelector('#moreSelete');

  // 切换显示/隐藏下拉菜单
  customSelect.addEventListener('click', function (e) {
    e.stopPropagation(); // 阻止事件冒泡，防止触发外部点击事件
    this.classList.toggle('open');
    optionsList.style.display = optionsList.style.display === 'block' ? 'none' : 'block';
  });

  // 使用事件委托绑定点击选项事件
  optionsList.addEventListener('click', function (e) {
    // 确保点击的是选项项（li）
    const target = e.target.closest('.option-item'); // 确保点击文字或其他部分都能获取到对应的 li
    if (target) {
      selectedOption.textContent = `${target.dataset.num}人 - ${target.dataset.price}元/月`; // 更新选择内容
      optionsList.style.display = 'none'; // 关闭下拉框
      customSelect.classList.remove('open'); // 移除打开样式
    }
  });

  // 如果点击下拉外部区域关闭下拉框
  document.addEventListener('click', function (e) {
    if (!customSelect.contains(e.target)) {
      optionsList.style.display = 'none';
      customSelect.classList.remove('open');
    }
  });
</script>

<style>
  /* 样式调整 */
  .custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 5.2vw; /* 根据需要调整宽度 */
  }

  .custom-select {
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-radius: 0.208vw;
    z-index: 99999;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 5.2vw;
    padding: 0.2vw 0vw;
    border-radius: 0.26vw;
    background-color: #ffffff00;
    cursor: pointer;
    font-size: 0.73vw;
    color: #fff;
    width: fit-content;
  }

  .selected-option {
    display: flex;
    border: none;
  }

  .options-list {
    display: none; /* 默认隐藏 */
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #2c2c2c;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 0.208vw;
  }

  .option-item {
    width: 5.2vw;
    padding: 0.52vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.625vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .option-item:hover {
    background-color: rgba(255, 255, 255, 0.18); /* #FFFFFF30 背景 */
  }

  /* 显示选项 */
  .custom-select.open .options-list {
    display: block;
  }

  .hide-scrollbar {
    /* overflow: hidden; */
    display: none;
  }
  .show-scrollbar {
    display: flex;
  }
  .control-btn:hover {
    background-color: #fff;
    border: 0.26vw solid #ffffff30;
  }
  .card-stack {
    position: relative;
    width: 62.5vw;
    height: 26.3vw;
  }

  .card {
    position: absolute;
    width: 100%;
    height: 180px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* 更多套餐 */
  .select-container {
    position: relative;
    width: fit-content;
  }

  /* 隐藏滚动条 */
  .custom-scrollbar-hidden {
    ::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar-hidden {
    scroll-behavior: smooth;
  }
  .rotate-add-icon {
    transition: transform 1s ease-in-out; /* 1秒过渡效果 */
  }

  .rotate-add-icon:hover {
    transform: rotate(90deg); /* hover时顺时针旋转一圈 */
  }

  .rotate-add-icon:not(:hover) {
    transform: rotate(-90deg); /* 离开时逆时针旋转回原位 */
  }
</style>
